# Written by Synplify Pro version maplat, Build 1612R. Synopsys Run ID: sid1562836376 
# Top Level Design Parameters 

# Clocks 
create_clock -period 303.030 -waveform {0.000 151.515} -name {CLK_3P3_MHZ_main} [get_ports {CLK_3P3_MHZ}] 

# Virtual Clocks 

# Generated Clocks 

# Paths Between Clocks 

# Multicycle Constraints 

# Point-to-point Delay Constraints 

# False Path Constraints 

# Output Load Constraints 

# Driving Cell Constraints 

# Input Delay Constraints 

# Output Delay Constraints 

# Wire Loads 

# Other Constraints 

# syn_hier Attributes 

# set_case Attributes 

# Clock Delay Constraints 

# syn_mode Attributes 

# Cells 

# Port DRC Rules 

# Input Transition Constraints 

# Unused constraints (intentionally commented out) 

# Non-forward-annotatable constraints (intentionally commented out) 

# Block Path constraints 

